body {
    background-color: rgba(178, 148, 212, 0.822);
    margin: auto;
}

.header {
    max-height: 70px;
    /* background-color: darkorchid; */
    display: flex;
    justify-content: space-between;
}

.tel {
    text-decoration: underline;
    text-align: center;
}
h3 {
    color: rgb(252, 4, 4);
    text-decoration: underline;
}


.img-mary {
    max-width: 100px;
}
.ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    padding-right: 10px;
    font-size: 20px;
}
li {
    padding: 10px;
    text-decoration: underline;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(10, 3, 105);
    padding-bottom: 20px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    /* margin-left: 10px; */
}

.logo {
    max-width: 200px;
}

.content {
    max-width: 400px;
    background-color: rgb(112, 231, 240);
    text-align: center;
    /* padding-left: 40px;
    padding-right: 40px; */
    padding-top: 10px;


}
.ccc {
    font-size: 30px;
}



 .img-mag {
     padding: 20px;
     width: 200px;
     height: 200px;
 }
 

.mag {
    text-align: center;
    color: rgb(248, 17, 9);
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.footer {
    text-align: center;
    background-color: rgb(252, 0, 0);
}













